{% extends 'base.html.twig' %}

{% block title %}Page index{% endblock %}

{% block body %}
    <h1>Page index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for page in pages %}
            <ul>
                <li><a href="{{ path('app_page_show',  {id:page.id}) }}">{{ page.name }}</a></li>
            </ul>
            <tr>
                <td>{{ page.id }}</td>
                <td>{{ page.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_page_new') }}">Create new</a>
{% endblock %}
