{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <h1>{{ page.name }}</h1>
    {% for pageSection in page.PageSections %}
        <h2>{{ pageSection.section.name }}</h2>
        <h2>{{ pageSection.section.type.name }}</h2>

        <div class="lazy-slider">



                {% for video in pageSection.section.videos %}
                        <div class="slider">
                            <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                                <img src="{{ asset('build/images/' ~ video.image) }}" data-lazy="{{ asset('build/images/' ~ video.image) }}" alt="{{ video.title }}" class="image_slider">
                            </a>
                            <h2>{{ video.title }}</h2>
                            <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>
                        </div>
                {% endfor %}
            </div>

        <div>
             <button type="submit" class="button_validate">
            <a href="{{ path('app_page_section_edit', {'id': pageSection.id}) }}" >Changer l'ordre de la section</a>
             </button>
        </div>
        <div> <button type="submit" class="button_validate">
                <a href="{{ path('app_section_edit', {'id': section.id}) }}">Editer</a>
            </button>

            {{ include('section/_delete_form.html.twig') }}
        </div>
    {% endfor %}

    <a href="{{ path('app_page_index') }}">back to list</a>
    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
