{% extends 'base.html.twig' %}

{% block title %}Page{% endblock %}

{% block body %}
    <h1>{{ page.name }}</h1>

       {% for pageSection in pagesSections %}
        <div class="section">
            <h2>{{ pageSection.section.name }}</h2>
        </div>

        <div class="
                {% if  pageSection.section.type.name  == 'Hero Slider' %}
                lazy-slider
                {% elseif  pageSection.section.type.name  == 'Carousel Statique'%}
                carousel-container
                {% elseif  pageSection.section.type.name  == 'Carousel Dynamique'%}
                carousel-container
                {% elseif  pageSection.section.type.name  == 'Grille Dynamique' %}
                videos-category
                {% endif %}">

            {% for video in pageSection.section.videos %}
                {% if  pageSection.section.type.name  == 'Hero Slider' %}
                    <div class="slider">
                        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                            <img src="{{ asset('upload/images/' ~ video.image) }}" data-lazy="{{ asset('upload/images/' ~ video.image) }}" alt="{{ video.title }}" class="image_slider">
                        </a>
                        <h2>{{ video.title }}</h2>
                        <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>
                    </div>
                {% endif %}
                {% if  pageSection.section.type.name  == 'Carousel Statique' %}
                    <div class="slider">
                        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                            <img src="{{ asset('upload/images/' ~ video.image) }}" data-lazy="{{ asset('upload/images/' ~ video.image) }}" alt="{{ video.title }}" class="image_carousel">
                        </a>
                        <div class="play-icon>">
                            <img src="{{ asset('build/images/playicon.png') }}" alt="play-icon">

                        </div>
                    </div>
                {% endif %}
                {% if  pageSection.section.type.name  == 'Carousel Dynamique' %}
                    <div class="slider">
                        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                            <img src="{{ asset('upload/images/' ~ video.image) }}" data-lazy="{{ asset('upload/images/' ~ video.image) }}" alt="{{ video.title }}" class="image_carousel">
                        </a>
                    </div>
                {% endif %}
                {% if  pageSection.section.type.name  == 'Grille Dynamique' %}
                    <div class="video">
                        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                            <img src="{{ asset('upload/images/' ~ video.image) }}" data-lazy="{{ asset('upload/images/' ~ video.image) }}" alt="{{ video.title }}" class="image_category">
                        </a>
                        <h2>{{ video.title }}</h2>
                        <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

    <a href="{{ path('app_page_index') }}">back to list</a>
    <a href="{{ path('app_page_edit', {'id': page.id}) }}">edit</a>

    {{ include('page/_delete_form.html.twig') }}
{% endblock %}
