{% extends 'base.html.twig' %}

{% block title %}Création de page{% endblock %}

{% block body %}
    <h1>Création de page</h1>

    {{ form_start(globalForm, {'attr': {'class':"form-group" }}) }}

    <h2>Page</h2>
    <div class="form-group">
        {{ form_row(globalForm.page) }}
    </div>

    <h2>Section</h2>
    <div class="form-group">
        {{ form_row(globalForm.section) }}
        {{ form_row(globalForm.pageSection) }}
    </div>

    <h2>Type</h2>
    <div class="form-group">
        {{ form_row(globalForm.type) }}
    </div>

    <div class="form-group">
        {{ form_row(globalForm.save) }}
    </div>

    {{ form_end(globalForm) }}
{% endblock %}
