{% extends 'base.html.twig' %}

{% block title %}She Plays TV - Accueil{% endblock %}

{% block body %}
    <div class="home_container">
        <img src="{{ asset('build/images/image_index.png') }}" alt="home" class="home_img">
        <div class="home_content">
            <h1 class="home_title">SHE PLAYS <span>TV</span></h1>
            <p class="home_text">She Plays TV est une plateforme de vidéos de sports exclusivement féminins. </p>

            <div class="home_subtitle">
                <button type="submit" class="button_validate">
                    <a href="{{ path('app_video') }}">Accéder aux vidéos</a>
                </button>
            </div >
        </div>
    </div>
    <div class="home_slider">
        <div class="carousel-container">
            {% for video in videos %}
                {% if video.isIsPublic %}
                <div class="slider">
                    <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                        <img src="{{ asset('build/images/' ~ video.image) }}" data-lazy="{{ asset('build/images/' ~ video.image) }}" alt="{{ video.title }}" class="image_carousel">
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
