{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="sign">Créer son compte</h1>
<div class="login">

    {{ form_errors(registrationForm) }}

    {#{{ form_start(registrationForm, {'attr': {'class': 'login'}}) }}#}
        {{ form_row(registrationForm.username, {'attr': {'class': 'login_label'}}) }}
        {{ form_row(registrationForm.email, {'attr': {'class': 'login_label'}}) }}
        {{ form_row(registrationForm.plainPassword, {
            'label': false,
            'attr': {'class': 'login_label'}
        }) }}

        <button type="submit" class="btn-register">Valider</button>
    {#{{ form_end(registrationForm) }}#}

</div>
{% endblock %}
