{% extends 'base.html.twig' %}

{% block title %}Editer une Catégorie{% endblock %}

{% block body %}
<h1>Editer une catégorie</h1>
{{ form_start(form, {'attr': {'class': 'formulaire'}}) }}

    {{ form_row(form.name) }}

    <div class="video-checkboxes">
        {{ form_label(form.video, 'Choix de la vidéo') }}
        {% for videoField in form.video %}
            <div class="form-check">
                {{ form_widget(videoField) }}
                {{ form_label(videoField) }}
            </div>
        {% endfor %}
    </div>

    <div><button class="button_validate">Mettre à jour</button></div>

{{ form_end(form) }}
{% endblock %}
