{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}


    {#{% if is_granted('ROLE_ADMIN') %}
        <div class="add_category">
            <button type="submit" class="button_add">
                <a href="{{ path('category_add') }}">Ajouter une catégorie</a>
            </button>
        </div>
    {% endif %}#}

    <div class="page-index">
        <img src="{{ asset('build/images/background.png') }}" alt="background" class="background_img">
        <h1>Liste des Catégories</h1>

        <div class="page-list">
            {% for category in categories %}
                <div class="page-card">
                    <h2><a href="{{ path('category_videos', {'slugCategory': category.slugCategory}) }}">{{ category.name }}</a></h2>
                </div>
            {% else %}
                <p>Aucune page trouvée</p>
            {% endfor %}

           {# {% if is_granted('ROLE_ADMIN') %}
                <button type="submit" class="button_validate">
                    <a href="{{ path('category_edit', {'id': category.id}) }}" >Éditer</a>
                </button>
                <button type="submit" class="button_delete">
                    <a href="{{ path('category_delete', {'id': category.id}) }}"
                   onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette catégorie ?');">Supprimer</a>
                </button>
            {% endif %}#}

        </div>
    </div>
{% endblock %}
