{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes favoris</h1>

<div class="videos-category">
    {% for video in videos %}
    <div class="video">
        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
            <img src="{{ asset('upload/images/' ~ video.image) }}" alt="{{ video.title }}">
        </a>
        <h2>{{ video.title }}</h2>
        <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>
    </div>

    {% endfor %}
    <div class="lienf">
        <a href="{{ path('app_video') }}">Retour aux vidéos</a>
    </div>
{% endblock %}


