{% extends 'base.html.twig' %}

{% block title %}Vidéos Publiques{% endblock %}

{% block body %}
    <h1 class="sign">Vidéos Publiques</h1>

    <div class="video-slider">
        <button class="slide-btn left-btn">&#8592;</button>

        <div class="videos">
            {% for video in videos %}
                {% if video.isIsPublic %}
                    <div class="video">
                        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                            <img src="{{ asset('/upload/images/' ~ video.image) }}" alt="{{ video.title }}" class="video-image">
                        </a>
                        <h2>{{ video.title }}</h2>
                        <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>
                    </div>
                {% endif %}
            {% else %}
                <p>Aucune vidéo publique disponible pour le moment.</p>
            {% endfor %}
        </div>

        <button class="slide-btn right-btn">&#8594;</button>
    </div>
{% endblock %}
