{% extends 'base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

{% block body %}
    <div class="video-detail">


        {% if video.file %}
            <div class="video-embed">
                <video width="1280" height="720" controls>
                    <source src="{{ asset('build/videos/' ~ video.file) }}" type="video/mp4">
                    Votre navigateur ne supporte pas les vidéos HTML5.
                </video>
        {% else %}
            <p>URL de la vidéo non disponible.</p>
        {% endif %}
        <div class="favoris">
        <h1>{{ video.title }} </h1>
                {{ component('Favoris', {video:video}) }}
        </div>
        <p><h3>{{ video.description }}</h3></p>

        <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>

        <div class="video-categories">
          {% for category in video.getCategories %}
            <button type="submit" class="button_validate"><a href="{{ path('category_videos', {'slugCategory': category.getSlugCategory}) }}">
                {{ category.getName }}
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="video-slider">
        <button class="slide-btn left-btn">&#8592;</button>

        <div class="videos">
            {% for video in videos %}
                {% if video.isIsPublic %}
                    <div class="video">
                        <a href="{{ path('show_video', {'slugVideo': video.slugVideo}) }}">
                            <img src="{{ asset('build/images/' ~ video.image) }}" alt="{{ video.title }}" class="video-image">
                        </a>

                        <h2>{{ video.title }}</h2>
                        <p>Date de publication : {{ video.datetime|date('d-m-Y') }}</p>

                    </div>
                {% endif %}
            {% else %}
                <p>Aucune vidéo publique disponible pour le moment.</p>
            {% endfor %}
        </div>

        <button class="slide-btn right-btn">&#8594;</button>
    </div>

{% endblock %}
