<div class="slider-container slider-1">
    <div class="slider">
        <img src="{{ asset('build/images/Musculation.png') }}" class="image_carousel">
        <img src="{{ asset('build/images/Piscine.png') }}" class="image_carousel">
        <img src="{{ asset('build/images/Saut.png') }}" class="image_carousel">
        <img src="{{ asset('build/images/Haies.png') }}" class="image_carousel">
        <img src="{{ asset('build/images/Course.png') }}" class="image_carousel">
        <img src="{{ asset('build/images/Musculation.png') }}" class="image_carousel">
    </div>
</div>
