<div class="navbar" id="navbar">

    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="logo" id="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('build/images/logo.png') }}">
        </a>
    </div>

    <div class="search" id="search">
        <input type="text" class="navbar_input_search" placeholder="Search">
        <button type="submit" class="navbar_button_search"><span>GO</span></button>
    </div>

    <div class="links" id="links">
        {% if app.user %}
            <a style="color: var(--color-one);">Welcome {{ app.user.username }}</a>
            <a href="{{ path('app_logout') }}"> Déconnexion</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('upload_video') }}" class="navbar_links">Importer une vidéo</a>
                <a href="#" class="navbar_links">Créer une nouvelle page</a>
            {% endif %}
            <a href="{{ path('app_category') }}"  class="navbar_links">Catégories</a>
            <a href="{{ path('app_favoris') }}" class="navbar_links">Favoris</a>
            <a href="{{ path('export_users') }}" class="navbar_links">export abonnés</a>

        {% else %}
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            <a href="{{ path('app_login') }}"> Connexion </a>
        {% endif %}
    </div>
</div>
