<div class="navbar" id="navbar">
    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo" id="logo">
        <img src="{{ asset('build/images/logo.png') }}">
    </div>

    <div class="search" id="search">
        <input type="text" class="navbar_input_search" placeholder="Search">
        <button type="submit" class="navbar_button_search"><span>GO</span></button>
    </div>

    <div class="links" id="links">
        <a href="#" class="navbar_links">Upload Video</a>
        <a href="#" class="navbar_links">Create new page</a>
        <a href="#" class="navbar_links">Categories</a>
        <a href="#" class="navbar_links">Favorites</a>
        <a class="nav-link" href="{{ path('app_register') }}">Registration</a>
        {% if app.user %}
            {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Logout</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Login </a>
        {% endif %}
    </div>
</div>
