<div class="navbar" id="navbar">
    <div class="menu-icon" id="menu-icon">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div class="logo" id="logo">
        <a href="{{ path('app_home') }}">
            <img src="{{ asset('build/images/logo.png') }}">
        </a>
    </div>

    <div class="search" id="search">
        <input type="text" class="navbar_input_search" placeholder="Search">
        <button type="submit" class="navbar_button_search"><span>GO</span></button>
    </div>

    <div class="links" id="links">
        <a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
        {% if app.user %}
            {{ app.user.email }}
            <a href="{{ path('app_logout') }}"> Deconnexion</a>
        {% else %}
            <a href="{{ path('app_login') }}"> Connexion </a>
        {% if app.user %}
            <a style="color: var(--color-one);">Welcome {{ app.user.username }}</strong></a>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('upload_video') }}" class="navbar_links">Upload Video</a>
            <a href="#" class="navbar_links">Create new page</a>
            {% endif %}
            <a href="{{ path('app_category') }}"  class="navbar_links">Categories</a>
            <a href="#" class="navbar_links">Favorites</a>
        {% endif %}
    </div>
</div>
