<div{{ attributes }}>
    <div class="mb-3">
        <label class="form-label" for="search">
            Recherche
        </label>
        <input type="search"
               id="search"
               class="form-control"
               value="{{ query }}"
               data-model="query">
    </div>

    {% for video in this.videos %}
        <div>

            <h2 class="mt-4"> {{ video.id }} / {{ video.title }}</h2>
            <p>{{ video.description }}</p>
            <a href="{{ path("show_video", { slugVideo: video.slugvideo }) }}"> see more </a>
        </div>
    {% endfor %}
</div>
